<p id="notice"><%= notice %></p>

<p>
  <strong>Mista:</strong>
  <%= @matka.mista %>
</p>

<p>
  <strong>Mihin:</strong>
  <%= @matka.mihin %>
</p>

<p>
  <strong>Kulkuneuvo:</strong>
  <%= @matka.kulkuneuvo %>
</p>

<p>
  <strong>Lahto:</strong>
  <%= @matka.lahto %>
</p>

<p>
  <strong>Paluu:</strong>
  <%= @matka.paluu %>
</p>

<p>
  <strong>Matkaseurue:</strong>
  <%= @matka.matkaseurue %>
</p>

<p>
  <strong>Lisatietoja:</strong>
  <%= @matka.lisatietoja %>
</p>

<p>
  <strong>Info:</strong>
  <%= @matka.info %>
</p>

<%= link_to 'Edit', edit_matka_path(@matka) %> |
<%= link_to 'Back', matkas_path %>
